[Unit]
Description=openSUSE Dnsmasq Podman container
Wants=syslog.service
[Service]
Restart=always
ExecStart=/usr/bin/podman start -a opensuse-dnsmasq-container
ExecStop=/usr/bin/podman stop -t 10 opensuse-dnsmasq-container
[Install]
WantedBy=multi-user.target
